<footer class="footer-distributed mt-5">

		<div class="footer-right">

			<a href="https://www.facebook.com/" target="_blank"><img src="assets/icons/Facebook.svg" alt=""></a>
			<a href="https://twitter.com/" target="_blank"><img src="assets/icons/Twitter.svg" alt=""></a>
			<a href="https://www.instagram.com/" target="_blank"><img src="assets/icons/Instagram.svg" alt=""></a>

		</div>

		<div class="footer-left">
			<div id="footer_links">
			<p class="footer-links">
				<a routerLink="/home" routerLinkActive="active" class="nav-link">Home</a>				
				<a routerLink="/about" routerLinkActive="active" class="nav-link">Omkring mig</a>				
				<a routerLink="/projects" routerLinkActive="active" class="nav-link">Projekter</a>				
				<a routerLink="/contact" routerLinkActive="active" class="nav-link">Kontakt mig</a>
			</p>
			<p>Joakim Seneca Portfolio &copy; 2018</p>
			</div>
			</div>

	</footer>